.container {

  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-image: url("/backgournd-web.jpg");
  background-size: cover;
  /* Example gradient colors */
  color: #ffffff; /* Banner text color */
}

.top-banner-header { 
  width: 100%;
}
.avatar-profile {
  width: 150px;
  height: 150px;

}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
}

.profile-set {
  display: flex;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}