.container {
  height: 200px;
  width: 100%;
  background: linear-gradient(45deg, #ff6b6b, #78ffd6); /* Example gradient colors */
  color: #ffffff; /* Banner text color */
}

.avatar-profile {
  width: 150px;
  height: 150px;

}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
}

.profile-set {
  display: flex;
  max-width: 600px;
  margin: auto;
}

.profile-name {
  width: 100%;
}